#menuBG {
    width: 400px;
    height: 470px;
    margin: 0 auto;
}
#frmMenu {
    width: 400px;
    height: 350px;
    margin-top: 25px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    margin-top: 300px;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 25px 0px 0px 10px;
    width: 100px;
    height: 40px;
}

body {
    text-align: center;
    background-color: orangered;
}

h1 {
    font: Aclonica;
}

